$max-width: 800px;

$blue: #54A4FF;
$orange: #FA7600;
$grey: #4A4A4A;
$lt-grey: #bbb;
$dk-grey: #1E1E1E;
$red: #D0021B;
$yellow: #F5F423;

$body-font: 'Open Sans';
$body-font-color: $grey;
$header-font: 'Playfair Display';
$header-font-color: $dk-grey;

$base-size: 10px;
$font-size: 1.6em;

$h1-size: 3.6em;
$h2-size: 2.6em;
$h3-size: 2em;
$h4-size: 1.6em;